# Soluciones

1) Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 20%.

In [1]:
import pandas as pd
import numpy as np

In [12]:
datos = {
    'ventas' : [100, 20, 3065, 45, 200, 300, 120,200, 300, 1000, 297],
    'anio':         [2020, 2019,2022,2022,2019,2022,2022,2019,2020,2020,2022],
    'desc_aplicado':['no','no','si','si','no','si','no','si','si','si','si'],
    'producto': ['computadora','computadora','zapatillas','cigarrillo','cigarrillo','cigarrillo','cigarrillo','zapatillas',
                'tacho_basura','cargador_celular','zapatillas']
}

df = pd.DataFrame(datos)
df.set_index('anio', inplace = True)

print(df)

      ventas desc_aplicado          producto
anio
2020     100            no       computadora
2019      20            no       computadora
2022    3065            si        zapatillas
2022      45            si        cigarrillo
2019     200            no        cigarrillo
2022     300            si        cigarrillo
2022     120            no        cigarrillo
2019     200            si        zapatillas
2020     300            si      tacho_basura
2020    1000            si  cargador_celular
2022     297            si        zapatillas

2- Un profesor desea obtener rápidamente los nombres y las notas de sus alumnos aprobados. Se pide realizar una función que reciba un diccionario con las notas de los alumnos y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor y de menor a mayor. La materia se aprueba con 7.

In [81]:
datos_alumnos = {
    'ID': [1,2,3,4,5,6,7],
    'notas' : [10, 1, 10, 9, 9, 6, 8],
    'alumnos': ['Jime','Adrian','Valen','theo','cami','juli','Lean']
    }

df_alumnos = pd.DataFrame(datos_alumnos)
print(df_alumnos)
df_alumnos.set_index('ID', inplace = True)
print(df_alumnos)

   ID  notas alumnos
0   1     10    Jime
1   2      1  Adrian
2   3     10   Valen
3   4      9    theo
4   5      9    cami
5   6      6    juli
6   7      8    Lean
    notas alumnos
ID
1      10    Jime
2       1  Adrian
3      10   Valen
4       9    theo
5       9    cami
6       6    juli
7       8    Lean

In [77]:
#De menor a mayor
notas_2 = [10, 1, 10, 9, 9, 6, 8]
notas_2.sort()
notas_2

[1, 6, 8, 9, 9, 10, 10]

In [71]:
#De mayor a menor
notas_3 = [10, 1, 10, 9, 9, 6, 8]
notas_3.sort(reverse=True)
notas_3

[10, 10, 9, 9, 8, 6, 1]

3-Los siguientes archivos 

emisiones-2016.csv 

emisiones-2017.csv 

emisiones-2018.csv  

emisiones-2019.csv  

contienen datos sobre las emisiones contaminantes en una ciudad en los años indicados.  

Escribir un programa con los siguientes requisitos: 

Generar un DataFrame con los datos de los cuatro ficheros. 

Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc. 

Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna. 

Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime). 

Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha. 

Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame. 

Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado. 

Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante. 

Mostrar un resumen descriptivo para cada contaminante por distritos. 

Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estación indicada. 

Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todas las estaciones. 

Crear una función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [84]:
# importamos los datos

df_2016 = pd.read_csv('emisiones-2016.csv',delimiter=";")
df_2017 = pd.read_csv('emisiones-2017.csv',delimiter=";")
df_2018 = pd.read_csv('emisiones-2018.csv',delimiter=";")
df_2019 = pd.read_csv('emisiones-2019.csv',delimiter=";")

Revisamos los df

In [85]:
df_2016.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V

In [86]:
df_2017.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2017,1,6.0,V,8.0,...,5.0,V,4.0,V,4.0,V,5.0,V,7.0,V
1,28,79,4,1,28079004_1_38,2017,2,8.0,V,4.0,...,4.0,V,4.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2017,3,5.0,V,7.0,...,4.0,V,5.0,V,7.0,V,7.0,V,5.0,V
3,28,79,4,1,28079004_1_38,2017,4,4.0,V,4.0,...,3.0,V,4.0,V,4.0,V,4.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2017,5,4.0,V,5.0,...,5.0,V,5.0,V,4.0,V,4.0,V,5.0,V

In [87]:
df_2018.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2018,1,1.0,V,1.0,...,2.0,V,2.0,V,6.0,V,5.0,V,6.0,V
1,28,79,4,1,28079004_1_38,2018,2,5.0,V,3.0,...,3.0,V,2.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2018,3,1.0,V,2.0,...,2.0,V,4.0,V,2.0,V,2.0,V,2.0,V
3,28,79,4,1,28079004_1_38,2018,4,2.0,V,3.0,...,1.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2018,5,2.0,V,2.0,...,2.0,V,2.0,V,3.0,V,2.0,V,2.0,V

In [88]:
df_2019.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2019,1,18.0,V,20.0,...,15.0,V,15.0,V,15.0,V,14.0,V,14.0,V
1,28,79,4,1,28079004_1_38,2019,2,13.0,V,13.0,...,19.0,V,20.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2019,3,18.0,V,18.0,...,6.0,V,7.0,V,6.0,V,4.0,V,4.0,V
3,28,79,4,1,28079004_1_38,2019,4,3.0,V,4.0,...,3.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2019,5,1.0,V,1.0,...,2.0,V,1.0,V,1.0,V,1.0,V,2.0,V

In [90]:
# filtramos las columnas

df_2016.columns

Index(['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO',
       'ANO', 'MES', 'D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04',
       'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 'D08', 'V08', 'D09', 'V09',
       'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
       'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19',
       'D20', 'V20', 'D21', 'V21', 'D22', 'V22', 'D23', 'V23', 'D24', 'V24',
       'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 'D29', 'V29',
       'D30', 'V30', 'D31', 'V31'],
      dtype='object')

In [97]:
df_2016_f = df_2016[{

                    'ESTACION',
                    'MAGNITUD',
                    'ANO','MES',
                    'D01','D02',
                    'D03','D04',
                    'D05','D06',
                    'D07','D08',
                    'D09','D10',
                    'D11','D12',
                    'D13','D14',
                    'D15','D16',
                    'D17','D18',
                    'D19','D20',
                    'D21','D22',
                    'D23','D24',
                    'D25','D26',
                    'D27','D28',
                    'D29','D30',
                    'D31'
}]

df_2016_f.head()

df_2016_f.columns

C:\Users\zarac\AppData\Local\Temp\ipykernel_11336\1623151320.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_2016_f = df_2016[{

Index(['D14', 'D27', 'D04', 'D05', 'D18', 'D16', 'D15', 'D22', 'ANO', 'D26',
       'MAGNITUD', 'D03', 'D07', 'D02', 'D10', 'ESTACION', 'D24', 'D25', 'D11',
       'D13', 'D12', 'D06', 'D23', 'D01', 'D08', 'D20', 'D30', 'D31', 'D28',
       'D19', 'D17', 'MES', 'D29', 'D09', 'D21'],
      dtype='object')

In [102]:
df_2017_f = df_2017[{

                    'ESTACION',
                    'MAGNITUD',
                    'ANO','MES',
                    'D01','D02',
                    'D03','D04',
                    'D05','D06',
                    'D07','D08',
                    'D09','D10',
                    'D11','D12',
                    'D13','D14',
                    'D15','D16',
                    'D17','D18',
                    'D19','D20',
                    'D21','D22',
                    'D23','D24',
                    'D25','D26',
                    'D27','D28',
                    'D29','D30',
                    'D31'
}]

df_2016_f.head()

df_2016_f.columns

C:\Users\zarac\AppData\Local\Temp\ipykernel_11336\2639710945.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_2017_f = df_2017[{

Index(['D14', 'D27', 'D04', 'D05', 'D18', 'D16', 'D15', 'D22', 'ANO', 'D26',
       'MAGNITUD', 'D03', 'D07', 'D02', 'D10', 'ESTACION', 'D24', 'D25', 'D11',
       'D13', 'D12', 'D06', 'D23', 'D01', 'D08', 'D20', 'D30', 'D31', 'D28',
       'D19', 'D17', 'MES', 'D29', 'D09', 'D21'],
      dtype='object')

In [101]:
df_2018_f = df_2018[{

                    'ESTACION',
                    'MAGNITUD',
                    'ANO','MES',
                    'D01','D02',
                    'D03','D04',
                    'D05','D06',
                    'D07','D08',
                    'D09','D10',
                    'D11','D12',
                    'D13','D14',
                    'D15','D16',
                    'D17','D18',
                    'D19','D20',
                    'D21','D22',
                    'D23','D24',
                    'D25','D26',
                    'D27','D28',
                    'D29','D30',
                    'D31'
}]

df_2016_f.head()

df_2016_f.columns

C:\Users\zarac\AppData\Local\Temp\ipykernel_11336\2615103577.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_2018_f = df_2018[{

Index(['D14', 'D27', 'D04', 'D05', 'D18', 'D16', 'D15', 'D22', 'ANO', 'D26',
       'MAGNITUD', 'D03', 'D07', 'D02', 'D10', 'ESTACION', 'D24', 'D25', 'D11',
       'D13', 'D12', 'D06', 'D23', 'D01', 'D08', 'D20', 'D30', 'D31', 'D28',
       'D19', 'D17', 'MES', 'D29', 'D09', 'D21'],
      dtype='object')

In [100]:
df_2019_f = df_2019[{

                    'ESTACION',
                    'MAGNITUD',
                    'ANO','MES',
                    'D01','D02',
                    'D03','D04',
                    'D05','D06',
                    'D07','D08',
                    'D09','D10',
                    'D11','D12',
                    'D13','D14',
                    'D15','D16',
                    'D17','D18',
                    'D19','D20',
                    'D21','D22',
                    'D23','D24',
                    'D25','D26',
                    'D27','D28',
                    'D29','D30',
                    'D31'
}]

df_2016_f.head()

df_2016_f.columns

C:\Users\zarac\AppData\Local\Temp\ipykernel_11336\3552993529.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_2019_f = df_2019[{

Index(['D14', 'D27', 'D04', 'D05', 'D18', 'D16', 'D15', 'D22', 'ANO', 'D26',
       'MAGNITUD', 'D03', 'D07', 'D02', 'D10', 'ESTACION', 'D24', 'D25', 'D11',
       'D13', 'D12', 'D06', 'D23', 'D01', 'D08', 'D20', 'D30', 'D31', 'D28',
       'D19', 'D17', 'MES', 'D29', 'D09', 'D21'],
      dtype='object')

In [103]:
# realizamos una concatenación entre los df 16 y 17

df_2016_2017 = pd.concat([df_2016_f,df_2017_f])
df_2016_2017

,D14,D27,D04,D05,D18,D16,D15,D22,ANO,D26,...,D20,D30,D31,D28,D19,D17,MES,D29,D09,D21
0,1.0,2.0,1.0,1.0,6.0,3.0,2.0,5.0,2018,2.0,...,4.0,5.0,6.0,2.0,6.0,4.0,1,6.0,3.0,3.0
1,2.0,3.0,1.0,1.0,2.0,3.0,2.0,4.0,2018,6.0,...,4.0,0.0,0.0,2.0,3.0,3.0,2,0.0,4.0,2.0
2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2018,2.0,...,2.0,2.0,2.0,4.0,1.0,1.0,3,2.0,2.0,2.0
3,2.0,1.0,2.0,3.0,3.0,2.0,2.0,2.0,2018,2.0,...,2.0,2.0,0.0,2.0,2.0,3.0,4,2.0,2.0,2.0
4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2018,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,5,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,83.0,58.0,80.0,84.0,78.0,88.0,84.0,86.0,2017,51.0,...,90.0,62.0,90.0,36.0,93.0,94.0,8,57.0,81.0,80.0
1808,49.0,52.0,66.0,64.0,65.0,65.0,66.0,75.0,2017,62.0,...,62.0,51.0,0.0,47.0,50.0,61.0,9,45.0,82.0,62.0
1809,44.0,41.0,46.0,41.0,38.0,48.0,60.0,56.0,2017,27.0,...,35.0,43.0,44.0,55.0,32.0,34.0,10,61.0,46.0,30.0
1810,25.0,18.0,37.0,60.0,27.0,8.0,15.0,13.0,2017,47.0,...,12.0,43.0,0.0,4.0,29.0,10.0,11,35.0,65.0,11.0
1811,30.0,64.0,18.0,16.0,16.0,39.0,51.0,5.0,2017,37.0,...,7.0,35.0,38.0,52.0,37.0,47.0,12,48.0,21.0,14.0

In [104]:
# realizamos una concatenación entre los df 18 y 19

df_2018_2019 = pd.concat([df_2018_f,df_2019_f])
df_2018_2019

,D14,D27,D04,D05,D18,D16,D15,D22,ANO,D26,...,D20,D30,D31,D28,D19,D17,MES,D29,D09,D21
0,1.0,2.0,1.0,1.0,6.0,3.0,2.0,5.0,2018,2.0,...,4.0,5.0,6.0,2.0,6.0,4.0,1,6.0,3.0,3.0
1,2.0,3.0,1.0,1.0,2.0,3.0,2.0,4.0,2018,6.0,...,4.0,0.0,0.0,2.0,3.0,3.0,2,0.0,4.0,2.0
2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2018,2.0,...,2.0,2.0,2.0,4.0,1.0,1.0,3,2.0,2.0,2.0
3,2.0,1.0,2.0,3.0,3.0,2.0,2.0,2.0,2018,2.0,...,2.0,2.0,0.0,2.0,2.0,3.0,4,2.0,2.0,2.0
4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2018,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,5,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,89.0,88.0,99.0,77.0,82.0,89.0,93.0,86.0,2019,85.0,...,77.0,108.0,98.0,90.0,65.0,82.0,8,99.0,44.0,87.0
1832,72.0,54.0,92.0,79.0,77.0,64.0,59.0,59.0,2019,57.0,...,69.0,55.0,0.0,68.0,79.0,76.0,9,70.0,69.0,59.0
1833,57.0,28.0,54.0,65.0,47.0,48.0,60.0,37.0,2019,23.0,...,63.0,19.0,47.0,33.0,64.0,38.0,10,16.0,50.0,36.0
1834,66.0,55.0,65.0,64.0,39.0,52.0,56.0,38.0,2019,35.0,...,11.0,56.0,0.0,52.0,15.0,58.0,11,47.0,63.0,28.0
1835,41.0,17.0,44.0,49.0,21.0,28.0,33.0,68.0,2019,10.0,...,59.0,5.0,4.0,13.0,33.0,27.0,12,14.0,22.0,61.0

In [106]:
# ahora realizamos una concatenación entre ambos resultados

df_unificado = pd.concat([df_2016_2017,df_2018_2019])
df_unificado

,D14,D27,D04,D05,D18,D16,D15,D22,ANO,D26,...,D20,D30,D31,D28,D19,D17,MES,D29,D09,D21
0,1.0,2.0,1.0,1.0,6.0,3.0,2.0,5.0,2018,2.0,...,4.0,5.0,6.0,2.0,6.0,4.0,1,6.0,3.0,3.0
1,2.0,3.0,1.0,1.0,2.0,3.0,2.0,4.0,2018,6.0,...,4.0,0.0,0.0,2.0,3.0,3.0,2,0.0,4.0,2.0
2,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2018,2.0,...,2.0,2.0,2.0,4.0,1.0,1.0,3,2.0,2.0,2.0
3,2.0,1.0,2.0,3.0,3.0,2.0,2.0,2.0,2018,2.0,...,2.0,2.0,0.0,2.0,2.0,3.0,4,2.0,2.0,2.0
4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2018,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,5,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,89.0,88.0,99.0,77.0,82.0,89.0,93.0,86.0,2019,85.0,...,77.0,108.0,98.0,90.0,65.0,82.0,8,99.0,44.0,87.0
1832,72.0,54.0,92.0,79.0,77.0,64.0,59.0,59.0,2019,57.0,...,69.0,55.0,0.0,68.0,79.0,76.0,9,70.0,69.0,59.0
1833,57.0,28.0,54.0,65.0,47.0,48.0,60.0,37.0,2019,23.0,...,63.0,19.0,47.0,33.0,64.0,38.0,10,16.0,50.0,36.0
1834,66.0,55.0,65.0,64.0,39.0,52.0,56.0,38.0,2019,35.0,...,11.0,56.0,0.0,52.0,15.0,58.0,11,47.0,63.0,28.0
1835,41.0,17.0,44.0,49.0,21.0,28.0,33.0,68.0,2019,10.0,...,59.0,5.0,4.0,13.0,33.0,27.0,12,14.0,22.0,61.0

In [107]:
df_unificado.columns

Index(['D14', 'D27', 'D04', 'D05', 'D18', 'D16', 'D15', 'D22', 'ANO', 'D26',
       'MAGNITUD', 'D03', 'D07', 'D02', 'D10', 'ESTACION', 'D24', 'D25', 'D11',
       'D13', 'D12', 'D06', 'D23', 'D01', 'D08', 'D20', 'D30', 'D31', 'D28',
       'D19', 'D17', 'MES', 'D29', 'D09', 'D21'],
      dtype='object')

In [108]:
ano = df_unificado[{'ANO'}] 
mes = df_unificado[{'MES'}]

fechas = ano+mes
fechas

C:\Users\zarac\AppData\Local\Temp\ipykernel_11336\2150730949.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  ano = df_unificado[{'ANO'}]
C:\Users\zarac\AppData\Local\Temp\ipykernel_11336\2150730949.py:2: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  mes = df_unificado[{'MES'}]

      ANO  MES
0     NaN  NaN
1     NaN  NaN
2     NaN  NaN
3     NaN  NaN
4     NaN  NaN
...   ...  ...
1831  NaN  NaN
1832  NaN  NaN
1833  NaN  NaN
1834  NaN  NaN
1835  NaN  NaN

[7260 rows x 2 columns]